.card {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #f2f2f2;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    border: 1px solid black;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card svg {
    width: 48px;
    fill: #333;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
  }
  
  .card__content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f2f2f2;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  .card:hover .card__content {
    transform: rotateX(0deg);
  }
  
  .card__title {
    margin: 0;
    font-size: 18px;
    color: #333;
    font-weight: 700;
  }
  
  .card:hover svg {
    scale: 0;
  }
  
  .card__description {
    margin: 10px 0 0;
    font-size: 12px;
    color: #777;
    line-height: 1.4;
    text-overflow: ellipsis;
  }

  .bookTitle{
    font-size: 3rem;
    font-weight: 800;
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Arimo', sans-serif;
    text-transform: uppercase;
  }

  .takeawaysText{
    font-size: 1rem;
    margin-top: 1rem;
    font-family: 'Arimo', sans-serif;
    letter-spacing: 0.5px;
    word-spacing: 1px;
    line-height: 20px;
  }
  

  .card_container {
    width: 300px;
    height: 300px;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
  }
  
  .card_tech {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }
  
  .card_tech .front_content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card_tech .front_content p {
    font-size: 32px;
    font-weight: 700;
    opacity: 1;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1)
  }
  
  .card_tech .content_tech {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    color: #e8e8e8;
    padding: 20px;
    line-height: 1.5;
    border-radius: 5px;
    pointer-events: none;
    transform: translateY(-96%);
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
  }
  
  .card_tech .content_tech .heading_techs {
    font-size: 32px;
    font-weight: 700;
  }
  
  .card_tech:hover .content_tech {
    transform: translateY(0);
  }
  
  .card_tech:hover .front_content {
    transform: translateY(30%);
  }
  
  .card_tech:hover .front_content p {
    opacity: 0;
  }
  

  @media (max-width: 991px) {
    .bookTitle{
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .bookTitle{
        font-size: 2rem;
    }
}

@media (max-width: 481px) {
    .bookTitle{
        font-size: 1rem;
    }
    

  .takeawaysText{
    font-size: 12px;
    letter-spacing: 0px;
    word-spacing: 1px;
    line-height: 1rem;
  }
}














.card3 {
  position: relative;
  width: 100%;
  height: 100%;
  background: lightgrey;
  box-shadow: #d11bff42 0 15px 40px -5px;
  z-index: 1;
  border-radius: 21px;
  overflow: hidden;
}

.card__content3 {
  background: linear-gradient(rgba(255, 255, 255, 0.473), rgba(150, 150, 150, 0.25));
  z-index: 1;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 21px;
}

.card3 .blob3 {
  position: absolute;
  z-index: -1;
  border-radius: 5em;
  width: 200px;
  height: 200px;
}

.card3 .blob3:nth-child(2) {
  left: -50px;
  top: -90px;
  background: #ff930f;
}

.card3 .blob3:nth-child(3) {
  left: 110px;
  top: -20px;
  z-index: -1;
  background: #bf0fff;
}

.card3 .blob3:nth-child(4) {
  left: -40px;
  top: 100px;
  background: #ff1b6b;
}

.card3 .blob3:nth-child(5) {
  left: 100px;
  top: 180px;
  background: #0061ff;
}

.cardioCard{
background: rgba(255, 255, 255, 0.11);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.6px);
-webkit-backdrop-filter: blur(9.6px);
border: 1px solid rgba(255, 255, 255, 0.29);

width: max-content;
height: 200px;
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
transition: all 0.3s linear;
cursor: pointer;
margin-top: 2rem;
}

.cardioCard:hover{
  box-shadow: 0px 0px 21px 3px gold;
}


.containerCardio {
  color: white;
  position: relative;
  font-family: sans-serif;
}

.containerCardio::before,
.containerCardio::after {
  content: "";
  background-color: #fab5704c;
  position: absolute;
}

.containerCardio::before {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  top: 30%;
  right: 7%;
}

.containerCardio::after {
  content: "";
  position: absolute;
  height: 3rem;
  top: 8%;
  right: 5%;
  border: 1px solid;
}

.containerCardio .boxCardio {
  width: 11.875em;
  height: 15.875em;
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.074);
  border: 1px solid rgba(255, 255, 255, 0.222);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border-radius: 0.7rem;
  transition: all ease 0.3s;
}

.containerCardio .boxCardio {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.containerCardio .boxCardio .titleCardio {
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.containerCardio .boxCardio div strong {
  display: block;
  margin-bottom: 0.5rem;
}

.containerCardio .boxCardio div p {
  margin: 0;
  font-size: 0.9em;
  font-weight: 300;
  letter-spacing: 0.1em;
}

.containerCardio .boxCardio div span {
  font-size: 0.7rem;
  font-weight: 300;
}

.containerCardio .boxCardio div span:nth-child(3) {
  font-weight: 500;
  margin-right: 0.2rem;
}

.containerCardio .boxCardio:hover {
  box-shadow: 0px 0px 20px 1px #ffbb763f;
  border: 1px solid rgba(255, 255, 255, 0.454);
}
